*.psess
*.user
*.suo
*.lib
*.tlog
*.obj
*.log
*.idb
*.pdb
*.lastbuildstate
*.data
*.puc
*.old
test/hahah
output/
bin/
hahah
lib/libpuppy.a
lib/libpuppy_d.a
test/cmp/pb.lua
test/cmp/yp.py
*.sdf
*.opendb
*.VC.db
*.o
/.vs
*.ipch
